 @import url(/css/navbar.css);
 @import url(/css/cabecalho.css);
 @import url(/css/metricas.css);
 :root {
    --fonte-principal: 'Inter', sans-serif;
    --cinza-escuro: #3A404E;
    --cinza-claro: #667085;
    --vermelho: #8E2424;
    --vermelho-claro: rgba(142, 36, 36, 0.05);
    --preto: #101828;
    --branco: #FFF;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
}
